# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Deploy To OSS

on:
  push:
    tags:
      - 'v*'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Install Java and Maven
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Release Maven package
        uses: samuelmeuli/action-maven-publish@v1
        with:
          gpg_private_key: ${{ secrets.SIGNING_KEY }}
          gpg_passphrase: ${{ secrets.SIGNING_PASSWORD }}
          maven_settings_username: ${{ secrets.SONATYPE_USERNAME }}
          maven_settings_password: ${{ secrets.SONATYPE_PASSWORD }}
          # 可选：明确指定服务器ID，确保匹配
          maven_server_id: ossrh
